* {
  box-sizing: border-box;
}
/* FILTERBOKS */

.filter-box {
  width: 210px;
  border: 3px solid #00205B;
  border-radius: 8px;
  padding: 14px;
  background-color: white;
  align-self: start;
  margin-left: 30px;
  
}

.filter-box h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.filter-search {
  position: relative;
  margin-bottom: 16px;
}

.filter-search span {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888780;
}

.filter-search input {
  width: 100%;
  padding: 10px 12px 10px 38px;
  border: 1px solid #d3d1c7;
  border-radius: 20px;
  font-size: 14px;
  font-family: var(--font-heading);
  outline: none;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 18px;
}

.filter-item {
  padding: 10px 12px;
  border: 1px solid #d3d1c7;
  border-radius: 10px;
  cursor: pointer;
  background: #f7f6f2;
  color: #2c2c2a;
  font-size: 14px;
  font-family: var(--font-heading);
}

.filter-item:hover {
  background: #eef1f8;
}

.filter-item.active {
  background: #00205B;
  color: white;
  border-color: #00205B;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-buttons button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #7b0000;
  color: white;
  font-family: var(--font-heading);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.filter-buttons button:hover {
  background: #a91d1d;
}

.filter-buttons button.active {
  background: #00205B;
}